@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    background: #f2f2f2;
} 

.max-width
{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.menu-navegacion
{
    position: fixed;
    width: 100%;
    z-index: 999;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.5s ease;
}



.sticky
{
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);   
}

.menu-navegacion-menu__ocultar
{
    transform: translate(0);
}

.menu-navegacion .max-width
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo .texto-logo
{
    color: #fff;
}

.menu-navegacion .logo span
{
    color: #fff;
}

.sticky .logo span
{
    color: #fff; 
    transition: all 0.5s ease;
}

.menu-navegacion .logo a
{
    color: #fff;
    font-size: 25px;
    font-weight: 600; 
}

.menu-navegacion .menu-navegacion__menu li
{
    list-style: none;
    display: inline-block;
}

.menu-navegacion a
{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: color 0.3s ease;
    
    
}

.menu-navegacion .enlace:hover
{
    color: #faaca8;
}

.menu-navegacion__boton
{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}

.sticky a:hover
{
    color: #faaca8;
}

.banner
{
    display: flex;
    height: 100vh;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}



.banner .max-width
{
    margin: auto 0 auto 40px;
}

.banner .banner__presentacion 
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.banner .banner__presentacion img 
{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
    object-position: center top;
    border: 2px solid;
}

.banner .banner__presentacion-nombre 
{
    font-size: 75px;
    font-weight: 600;
    margin-left: 15px;
}

.banner  .banner__presentacion-detalle 
{
    font-size: 40px;
    margin: 25px 0;
    color: #6a11cb;
}

.botones_redes
{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.banner__boton{
    display: inline-block;
    height: 45px;
    width: 45px;
    margin: 0 5px;
    overflow: hidden;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

.banner__boton a
{
    text-decoration: none;
    text-align: center;
}

.banner__boton:hover
{
    width: 230px;
}

.banner__boton-icono
{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;  
}

.banner__boton-icono i
{
    font-size: 30px;    
}

.btn-wapp a
{
    color: #00bb2d;
}

.btn-inst a
{
    color:  crimson;
}

header
{
  position: relative;  
}

/*-------------------------------------------*/
/*----------------  OLA  --------------------*/
/*-------------------------------------------*/
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}
/*-------------------------------------------*/
/*--------------     MAIN     ---------------*/
/*-------------------------------------------*/
/*-------------------------------------------*/
/*--------------  CONTENEDOR  ---------------*/
/*-------------------------------------------*/

.sobre-mi
{ 
    font-family: 'Poppins', 'sans-serif';
}

.sobre-mi .sobre-mi__contenido{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.sobre-mi .sobre-mi__contenido-left
{
    width: 45%;
}

.sobre-mi .sobre-mi__contenido-left .sobre-mi__imagen
{
    width: 400px;
    height: 400px;
    border-radius: 6px;
}

.sobre-mi .sobre-mi__contenido-right
{
    width: 55%;
}

.sobre-mi .sobre-mi__contenido-right .sobre-mi__texto
{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.sobre-mi .sobre-mi__contenido-right p
{
    text-align: justify;
}










.contenedor{
    background: linear-gradient(to top, rgba(161, 140, 209, 0.282) 0%, rgba(251, 194, 235, 0.22) 100%);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0;
    border-radius: 10px;
}
/*-------------------------------------------*/
/*--------  TITULO DE CADA SECCIÓN ----------*/
/*-------------------------------------------*/

.titulo-seccion{

    text-align: center;

    font-size: 30px;

    font-weight: 700;

    color: #7c79a0;

    padding-bottom: 30px;
    
}
/*-------------------------------------------*/
/*-----  CONTENEDOR TERAPIAS Y SERVICIOS ----*/
/*-------------------------------------------*/

.main-servicios{
    border-radius: 10px;  
}

.contenedor-servicios{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.servicios{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap; 
}

.servicio{
    width: 50%;
    padding: 10px 10px;
    border-radius: 10px;
    height: auto;
}

.nombre-servicio{
    font-size: 25px;
    color: #7c79a0;
    margin-bottom: 5px;
}

.imagen-servicio{
   width: 90%;
   height: 250px;
   margin: 0 20px;
   border-radius: 15px;
  
}

.imagen-ganadoraSorteo{
   width: 100%;
   height: 500px;
   margin: auto;
   border-radius: 15px;
}

.imagen-testimonio{
   width: 100%;
   height: 150px;
   margin: auto;
   border-radius: 15px; 
}

.texto-servicio{
   font-size: 15px;
   text-align: justify;
}
/*-------------------------------------------*/
/*-----------  CONTENEDOR OFERTAS -----------*/
/*-------------------------------------------*/

.tabla-precio_individual{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: auto;
}

.precio{      
    width: 30% auto;
    text-align: center;
    background: #b497f4;
    height: 450px;
    border-radius: 10px;
    padding: 30px 10px;
    color: #fff;
    margin: 0 35px;
}

.precio-cuponera{
    font-size: 22px;
    margin-bottom: 40px;
}


.beneficio{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 20px;
    border-bottom: 1px dotted #fff;
    padding-bottom: 5px;   
}

.activa{
    background: #a7c2e9;
    transform: scale(1.1);
}

.cta{
    background: #fff;
    color: #7c79a0;
    display: inline-block;
    margin-top: 10px;
    width: 100px;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 7px;
}

.cta:hover{
    width: 50%;
    background: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
    color: #fff;
    padding: 10 10px;
}

.cta2{
    border-radius: 25px;
    margin: 10px auto;
    background: linear-gradient(to top, rgba(161, 140, 209, 0.83) 0%, rgba(251, 194, 235, 0.809) 100%);
    color: #fff;
    text-align: center;
    width: 30%;
    padding: 25px 0;
    color: blue;
    font-weight: 500;
}

.cta2:hover{
    width: 40%;
    background: #faaca8;
    padding: 10 10px;
    font-size: 20px;
    color: #330867;
}

.boton-consulta-terapias{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*-------------------------------------------*/
/*---------  RESULTADOS OBTENIDOS -----------*/
/*-------------------------------------------*/

.main-resultados{ 
    border-radius: 10px;
}

.sugerenciaEspecialista{
    height: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    color: crimson;
    background: linear-gradient(to top, rgba(161, 140, 209, 0.796) 0%, rgba(251, 194, 235, 0.652) 100%);
    font-size: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
} 
/*-------------------------------------------*/
/*-----------  GALERIA DE FOTOS -------------*/
/*-------------------------------------------*/

.galeria{
    background: #f2f2f2;
}

.galeria-contenedor{
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-galeria{
    width: 23%;
    height: 250px;
    margin-bottom: 20px;
}

.imagen-individual{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
/*-------------------------------------------*/
/*------  GALERIA DE TESTIMONIOS  -----------*/
/*-------------------------------------------*/

 .galeria-testimonios{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.testimonios{
  
   border-radius: 10px;
   padding-top: 15px;
   
}
.testimonio{
   width: 40%;
   padding: 10px 10px;
   border-radius: 10px;
   height: auto;
   margin: auto;
}

.testimonio-instagram{
   width: 70%;
   margin: auto;
}

/*-------------------------------------------*/
/*--------------  PIE PÁGINA  ---------------*/
/*-------------------------------------------*/

.pie-pagina{
    position: relative;
    text-align: center;
}

.pie-pagina .wave__pie{
   top: 0;
   left: 0;
   
}

.contacto{

    padding-top: 0px;
}

.titulo-seccion__contacto{
    color:rebeccapurple;   
}

.pie-pagina .botonContacto{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    background: linear-gradient(to top, rgba(161, 140, 209, 0.83) 0%, rgba(251, 194, 235, 0.809) 100%);
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.pie-pagina .botonContacto a{
    text-decoration: none;
    
}

.botonContacto:hover{
    width: 250px;
}


.iconoContacto{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
}

.iconoContacto i{
    font-size: 25px;
    line-height: 60px;
    color: blue;
}


.jadmAnalista{
    margin-top: 15px;
    height: 170px;
    background: black;
    color: #fff;
    padding: 20px;
}

.desarrollador{
    position: relative;
    padding: 15px 0;
    
}

.desarrollador__nombre{
    color: gray;
    font-weight: 700;
    padding: 5px 0;
}


/*-------------------------------------------*/
/*--------------  DESARROLLADOR  ------------*/
/*-------------------------------------------*/

.jadmAnalista__boton{
    display: inline-block;
    height: 10px;
    width: 30px;
    padding-bottom: 53px;
    overflow: hidden;
    background: gray;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}

.jadmAnalista__boton a{
    text-decoration: none;
    text-align: center;
    color: black;
}

.jadmAnalista__boton:hover{
    width: 130px;
}

.jadmAnalista__iconoContacto{
    display: inline-block;
    height: 50px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 30px;
}

.jadmAnalista__iconoContacto i{
    font-size: 20px;
    color: black;
    line-height: 60px;
}

@media (max-width:1300px)
{
    .menu-navegacion .max-width
    {
       margin-left: 0;    
    } 
}

@media (max-width:1104px)
{
    .sobre-mi .sobre-mi__contenido-left .sobre-mi__imagen
    {
        width: 300px;
        height: 300px;
        border-radius: 6px;
    }
}



@media (max-width:991px)
{
    .max-width
    {
        padding: 0 50px;
    }
}

@media (max-width:947px)
{
    /*menu hamburguesa*/
    .menu-navegacion__boton
    {
        display: block;
        
        z-index: 999;
    }

    .hamburguesa.active:before
    {
        content: "\f00d";

    }

    .menu-navegacion .menu-navegacion__menu
    {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    
    .menu-navegacion .menu-navegacion__menu.active
    {
        left: -0;
    }

    .menu-navegacion .menu-navegacion-menu__ocultar
    {
        right: -0;
    }
   
    .menu-navegacion .menu-navegacion__menu li
    {
        display: block;
        
    }

    .menu-navegacion a
    {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;  
    }

    .banner .banner__texto .banner__presentacion-nombre 
    {
        font-size: 70px;
        
    }

    .banner .banner__texto .banner__presentacion-detalle 
    {
        font-size: 35px;
    }   

    .max-width
    {
        max-width: 800px;
    }
    .sobre-mi__contenido{
        width: 100%;
    }
    
    .sobre-mi__texto
    {
        text-align: center;
    }

    .sobre-mi__contenido-left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .sobre-mi__contenido-right{
        flex: 100%;
    }
}
@media screen and (max-width:750px){
  
    .titulo-pagina{
        font-size: 45px;
        margin-top: 80px;
    }
    .copy{
        font-size: 22px;
    }   
    .titulo-seccion{
        font-size: 28px;
    }
    .titulo-pagina{
        font-size: 45px;
    }
    .imagen-galeria{
        width: 47%;
    }
    .nombre-servicio{
        font-size: 20px;
    }
    .tabla-precio_individual{
        height: auto;  
    }
    .precio{
        width: 60%;
        margin-bottom: 40px;
    }
    .cta2{
        margin: 20px auto;
        width: 70%;
    }
}

@media (max-width:690px)
{
    .max-width
    {
        
        margin: auto;
    }

    .banner .banner__texto .banner__presentacion-nombre 
    {
        font-size: 50px;
        
    }

    .banner .banner__texto .banner__presentacion-detalle 
    {
        font-size: 28px;
    } 
}

@media screen and (max-width:500px){  
    .banner .max-width
    {
        margin: auto;       
    }
    .menu-navegacion .logo a
    {
        font-size: 18px; 
    }

    .menu-navegacion__boton
    {
        font-size: 18px;   
    }

    .banner__texto
    {
        display: flex;
        align-items: center;
        justify-content: center;
        
    }

    .banner .banner__presentacion img 
    {
        margin-top: 15px;
        width: 150px;
        height: 150px;
    }
    
    .banner .banner__texto .banner__presentacion-nombre 
    {
        margin-top: 15px;
        font-size: 20px;
    }

    .banner .banner__texto .banner__presentacion-detalle 
    {
        font-size: 15px;
    } 
      

    .sugerenciaEspecialista{
        font-size: 15px;
    }
   
    .contenedor{
        width: 93%;
    }
    .contenedor-servicios{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .imagen-servicio{
        width: 100%;
        height: 150px;
        margin: auto;
    }
    .imagen-ganadoraSorteo{
        width: 100%;
        height: 250px;
        margin: auto;
        border-radius: 15px;
     }
     .imagen-testimonio{
        width: 100%;
        height: 100px;
        margin: auto;
        border-radius: 15px; 
     }
    .texto-servicio{
        text-align: left;
        font-size: 17px;
    }
    .titulo-pagina{
        font-size: 35px;
    }
    .galeria-contenedor{
        width: 100%;
    }
    .precio{
        width: 90%;
    }
    .cta2{
        margin: 20px auto;
        width: 70%;
    }
}

